@tailwind base;
@tailwind components;
@tailwind utilities;

/* Applies styles only when dialog is open. Without this rule, the dialog would be visible even when it's closed.
TODO: Tailwind this */
#dialogai-content-container[open] {
  position: absolute;
  width: 400px;
  height: 400px;
  background-color: #1e1e1e;
  padding: 8px;
  padding-top: 24px;
  border-radius: 8px;
  box-shadow:
    0 4px 10px rgba(255, 255, 255, 0.2),
    0 2px 4px rgba(255, 255, 255, 0.1);
  z-index: 9999;
  color: #d4d4d4;
  display: flex;
  flex-direction: column;
  align-items: center;
}
